* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter" , sans-serif;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #606C38;
    padding: 25px;
}

.logo {
    font-size: 24px;
}

.navegacao ul{
    list-style: none;
    display: flex;
    color: #4f1010;
}

.navegacao ul li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.navegacao ul li a {
    color: #f1f1f1;
    text-decoration: none;
}

#sobre{
    text-align: center;
    background-color: #DDA15E;
    padding: 60px 20px;
    font-family: 'Andale Mono', monospace;

}

.sobre-imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-imagem{
    color: #938DF8;
   font-size: 36px;
   margin-top: 20px;
}

.sobre-titulo{
    color: #283618;
    font-size: 24px;
    margin-top: 10px;
}

.sobre-descricao{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align:center ;
}

#formacao{
    padding: 50px 150px;
    background-color: #FEFAE0;
}

.formacao-titulo{
    color: #494949;
    font-size: 30px;
    margin-bottom: 30px;
}

.formacao-lista{
    width: 600px;
    margin: 10 auto;
    
}

.formacao-lista h3{
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
    width: 180px;
}

.formacao-lista a{
    color: #092e53;
    font-size: px;
    margin-bottom: 150px;
    
}

.formacao-lista p {
margin-top: 10px;
margin-bottom: 30px;
font-size: 20px;

}

#experiencias {
    background-color: #DDA15E;
    padding: 50px 150px;
    
}


.experiencias-lista a{
    color: #092e53;
    font-size: px;
    margin-bottom: 150px;
    
}

.experiencia-titulo{
    color: #c5c5c5;
    font-size: 30px;
    margin-bottom: 30px;
    
}

.experiencia-lista{
    color: #6f7f8f;
    font-size: px;
    margin-bottom: 150px;
    
}

.experiencia-lista h3{
    font-size:  20px;
    color: #828282;
    margin-bottom: 10px;
    width: 180px;
}

.experiencia-lista a{
    color: #95999d;
    font-size: 20px;
    margin-bottom: 100px;
    
    
}

.experiencia-lista p{
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 100px;
    
    
}



.rodape {
    background-color: #606C38;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
}

.rodape-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.rodape-contatos a {
color: #fff;
text-decoration: none;
font-size: 18px;
margin-left: 10px;
margin-bottom: 10px;
}

.rodape-contatos img {
 vertical-align: middle;
}


